.sports-wrapper.row
  %p
    %strong Player:
    ="#{@player.name}"
  %p
    %strong Country:
    ="#{@player.country}"
  %p
    %strong Position:
    ="#{@player.position}"

  %img{ src: "#{@player.image_link}", title: @player.description, style: "max-width: 640px" }

  %p.caption
    ="#{@player.description}"

  .text-center.edit-links
    = link_to "Back", sport_club_players_path(@player.club.sport, @player.club)
