!!!
%html
  %head
    %title PlayerGallery
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .navbar-container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to "Player Gallery", root_path
        .collapse.navbar-collapse#bs-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            - if logged_in?
              %li= link_to 'Logout', url_for(action: 'logout', controller: 'application')
            - else
              %li
                = link_to "Login", url_for(action: 'login', controller: 'application')

            %li
              = link_to "Register", '#'

          %form.navbar-form.navbar-right{:role => "search", method: 'get', action: "/search"}
            .form-group
              .input-group
                %input.form-control{:placeholder => "#{@query || 'Search for Player...'}", id: 'query', name: 'query', :type => "text"}
                  %span.input-group-btn

                    %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
                      %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}

    = yield
